{% extends "base.html" %}
{% block content %}
<div class="user-page">
    <h1>Users</h1>
    <div class="user-list">
        {% for user in users %}
        <div class="user-entry">
            <h3>{{ user.user_name }}</h3>
            <form action="{{ url_for('user_movies',  user_id=user.user_id) }}" method="get">
                <button class="normal">View Movies</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<div class="add_form">
<form action="{{ url_for('create_user') }}" method="post">
    <label for="name">Add New User: </label>
    <input type="text" id="name" name="name" placeholder="User name" required>
    <button class="normal">Add user</button>
</form>
</div>
{% endblock %}